.u-section-1 .u-sheet-1 {
  min-height: 473px;
}

.u-section-1 .u-text-1 {
  margin: 37px 157px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 629px;
  margin: 15px 0 0 auto;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-block-d7c6-35 {
  font-weight: 700;
}

.u-block-d7c6-72 {
  height: 46px;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 226px;
  background-image: url("images/user.png");
  background-position: 50% 50%;
  margin: -359px auto 0 128px;
}

.u-section-1 .u-text-2 {
  margin: 37px auto 60px 196px;
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 93px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #adf6f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 30px auto 30px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
} .u-section-3 {
  background-image: linear-gradient(#adf6f2, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 349px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 206px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  width: 94px;
  height: 94px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -41px auto 0;
  padding: 21px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px 55px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-4 .u-table-1 {
  margin: 26px auto 49px 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-4 .u-table-cell-20 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-21 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-22 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-23 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-24 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-25 {
  margin: 23px 413px 0 auto;
}

.u-section-4 .u-table-cell-26 {
  margin: 23px 413px 0 auto;
}

.u-block-5c95-35 {
  font-weight: 700;
}

.u-block-5c95-110 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-table-cell-20 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-21 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-22 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-23 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-24 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-25 {
    margin-right: 340px;
  }

  .u-section-4 .u-table-cell-26 {
    margin-right: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-table-cell-20 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-21 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-22 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-23 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-24 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-25 {
    margin-right: 260px;
  }

  .u-section-4 .u-table-cell-26 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-header-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-table-cell-20 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-21 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-22 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-23 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-24 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-25 {
    margin-right: 195px;
  }

  .u-section-4 .u-table-cell-26 {
    margin-right: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-cell-20 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-21 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-22 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-23 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-24 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-25 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-4 .u-table-cell-26 {
    margin-top: 32px;
    margin-right: 123px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 464px;
}

.u-section-5 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-5 .u-table-1 {
  width: 1140px;
  margin: 28px auto 45px -57px;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-5 .u-table-cell-20 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-21 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-22 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-23 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-24 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-25 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-26 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-27 {
  margin: 23px 413px 0 auto;
}

.u-section-5 .u-table-cell-28 {
  margin: 23px 413px 0 auto;
}

.u-block-d6cf-35 {
  font-weight: 700;
}

.u-block-d6cf-149 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 396px;
  }

  .u-section-5 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-table-cell-20 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-21 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-22 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-23 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-24 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-25 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-26 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-27 {
    margin-right: 340px;
  }

  .u-section-5 .u-table-cell-28 {
    margin-right: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 286px;
  }

  .u-section-5 .u-table-1 {
    width: 720px;
  }

  .u-section-5 .u-table-cell-20 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-21 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-22 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-23 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-24 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-25 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-26 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-27 {
    margin-right: 260px;
  }

  .u-section-5 .u-table-cell-28 {
    margin-right: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
  }

  .u-section-5 .u-table-header-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-table-cell-20 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-21 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-22 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-23 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-24 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-25 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-26 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-27 {
    margin-right: 195px;
  }

  .u-section-5 .u-table-cell-28 {
    margin-right: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-table-cell-20 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-21 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-22 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-23 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-24 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-25 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-26 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-27 {
    margin-top: 32px;
    margin-right: 123px;
  }

  .u-section-5 .u-table-cell-28 {
    margin-top: 32px;
    margin-right: 123px;
  }
}